@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* { 
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
}

img {
    width: 375px;
    margin: 0 auto;
    border-radius: 15px;
}

article {
    margin: 0 auto;
    max-width: 375px;
    font-size: 15px;
    font-family: 'Outfit';
}

.card img {
    width: 100%;
}